   
<form *ngIf="paso==1" class="form-horizontal reuniones-form-container" action='' method="POST" >
   <div class="row" style="align-self: center;" >
      <div class="col-4 offset-md-4" >
         <select #clii class="dropdown-select" (change)="selectCuerpo(clii)">
         <option disabled hidden [value]="empty">-- Seleccione el Cuerpo Colegiado --</option>
         <option *ngFor="let cuerpoColegiado of cuerposColegiado" >{{cuerpoColegiado.nombre}}</option>
         </select>
         <button (click)="createActa(cuerpoColegiado)" [disabled]="cuerpoColegiadoSelect == null" type="button" class="btn"><b>Continuar</b></button>
      </div>
   </div>
</form>


<form *ngIf="paso==2" class="form-horizontal reuniones-form-container" action='' method="POST">
   <div class="row" >
      <div class="col-4 offset-md-4" >
         <input #lugar type="text" class="form-control" placeholder="Lugar *">
         <input #ciudad type="text" class="form-control" placeholder="Horario *">
         <input #reqq type="text" class="form-control" placeholder="Fin en Mente de la Reunión *">

         <button [disabled]="lugar.value == '' || ciudad.value == '' || reqq.value == '' " (click)="setPaso2Info(lugar.value, ciudad.value, reqq.value)" type="button" class="btn"><b>Continuar</b></button>
      </div>
   </div>
</form>




<form *ngIf="paso==3" class="form-horizontal reuniones-form-container" action='' method="POST">
   <div class="row" >
      <div class="col-4 offset-md-2" >
         Integrantes de la reunion seleccionados

         <div *ngIf="actaCreada.integrantes?.length>0">
            <div class="list-group" *ngFor="let asistente of actaCreada.integrantes" >
               <div class="row" >
                  <div class="col-10" style="padding-right: 0px;" >
                     <button style="width: 100%;" type="button" class="btn"><b>{{asistente.nombre}}</b></button>
                  </div>
                  <div class="col-1" >
                     <button  (click)="removeUser(asistente)" style="width: 32px;padding-left: 0px;padding-right: 0px;" type="button" class="btn">
                     <img src="assets/trash.png" style="width: 18px;" >
                     </button> 
                  </div>
               </div>
            </div>
         </div>
         <div *ngIf="actaCreada.integrantes?.length==0">
            <div class="list-group" >
               <div class="row" >
                  <div class="col-10" style="padding-right: 0px;" >
                     <button style="width: 100%;" type="button" class="btn"><b>Sin Asistentes ...</b></button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-4" >
         Agregar nuevos integrantes a la reunion
         <select style="width: 100%;" #us class="dropdown-select" (change)="addUser(us)">
         <option disabled hidden [value]="selectUndefinedOptionValue">-- Seleccione un usuario para agregar a la reunion --</option>
         <option *ngFor="let usuario of usuarios" >{{usuario.nombre}}</option>
         </select>
      </div>
   </div>
   
   <div style="text-align: center;margin-top: 25px;" >
      <button (click)="createActaSend()" type="button" class="btn" [disabled]="asistentes?.length==0" ><b>Enviar invitaciones</b></button>
   </div>
</form>

