<div class="row" style="margin-bottom: 30px;" >

   <div class="col-3" style="align-self: center;text-align: center;" >
      <img src="assets/logo.png" style="max-width: 200px;max-height: 150px;" [routerLink]="['/home']" >  
   </div>

   <div class="col-6" style="align-self: center;text-align: center;" >
   </div>

   <div class="col-3" style="align-self: center;text-align: center;" >
      <img [src]="logo" style="max-width: 175px;max-height: 150px;" >  
   </div>

</div>



<form *ngIf="paso==1" class="form-horizontal reuniones-form-container" action='' method="POST" >
   <div class="row" style="align-self: center;" >
      <div class="col-4 offset-4" >
         <select #clii class="dropdown-select" (change)="selectCuerpo(clii)">
         <option disabled hidden [value]="empty">-- Seleccione el Cuerpo Colegiado --</option>
         <option *ngFor="let cuerpoColegiado of cuerposColegiado" >{{cuerpoColegiado.nombre}}</option>
         </select>
         <button (click)="createActa(cuerpoColegiado)" [disabled]="cuerpoColegiadoSelect == null" type="button" class="btn"><b>Continuar</b></button>
      </div>
   </div>
</form>


<form *ngIf="paso==2" class="form-horizontal reuniones-form-container" action='' method="POST">
   <div class="row" >
      <div class="col-4 offset-4" >
         <input type="text" class="form-control" placeholder="Lugar *" #lugar>
         <input type="text" class="form-control" placeholder="Ciudad *" #ciudad>
         <input type="text" class="form-control" placeholder="Fin en Mente de la Reunión *" #reqq>

         <div class="row" >
            <div  class="col-5" style="align-self: center;text-align: right;" >
               <label style="margin: 0px;" >Fecha de la reunion</label> 
            </div>
            <div  class="col-7" >
               <input type="date" #fecha style="width: 100%;">
            </div>
         </div>

         <div class="row" >
            <div class="col-5" style="align-self: center;text-align: right;" >
               <label style="margin: 0px;" >Hora de inicio</label> 
            </div>
            <div  class="col-7" >
               <input #horaInicio type="time" style="width: 100%;" >
            </div>
         </div>

         <div class="row" >
            <div  class="col-5" style="align-self: center;text-align: right;" >
               <label style="margin: 0px;" >Hora de fin</label> 
            </div>
            <div class="col-7" >
            <input #horaFinal type="time" style="width: 100%;" >
            </div>
         </div>


         <button type="button" class="btn" 
         [disabled]="
         lugar.value == '' || 
         ciudad.value == '' || 
         reqq.value == '' || 
         horaInicio.value == '' || 
         horaFinal.value == '' || 
         fecha.value == '' " 

         (click)="setPaso2Info(lugar.value, ciudad.value, reqq.value, fecha.value, horaInicio.value, horaFinal.value)" ><b>Continuar</b></button>
      </div>
   </div>
</form>




<form *ngIf="paso==3" class="form-horizontal reuniones-form-container" action='' method="POST">
   <div class="row" >
      <div class="col-4 offset-2" >
         Integrantes de la reunion seleccionados

         <div *ngIf="actaCreada.integrantes?.length>0">
            <div class="list-group" *ngFor="let asistente of actaCreada.integrantes" >
               <div class="row" >
                  <div class="col-10" style="padding-right: 0px;" >
                     <button style="width: 100%;" type="button" class="btn"><b>{{asistente.nombre}}</b></button>
                  </div>
                  <div class="col-1" >
                     <button  (click)="removeUser(asistente)" style="width: 32px;padding-left: 0px;padding-right: 0px;" type="button" class="btn">
                     <img src="assets/trash.png" style="width: 18px;" >
                     </button> 
                  </div>
               </div>
            </div>
         </div>
         <div *ngIf="actaCreada.integrantes?.length==0">
            <div class="list-group" >
               <div class="row" >
                  <div class="col-10" style="padding-right: 0px;" >
                     <button style="width: 100%;" type="button" class="btn"><b>Sin Asistentes ...</b></button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-4" style="margin-left: 60px;">
      <div>
         <div>Crear un nuevo usuario</div>
         <create-user></create-user>

         </div>
   <div style="margin-top: 30px;"  >Agregue un usuario</div>

   <div style="background: #E4AD2D80;" >
      <input type="text" [(ngModel)]="queryString" [ngModelOptions]="{standalone: true}" id="search" placeholder="Busque por email">
      <ul style="max-height: 200px;overflow-y: scroll;" > 
         <li *ngFor="let usuario of usuarios | FilterPipe: queryString ">
            <button style="border: none;background: #E4AD2DCC;border-radius: 8px;font-size: small;" (click)="addUser(usuario)">{{usuario.nombre}} - {{usuario.email}}</button>
         </li>
      </ul>
   </div>

      </div>
   </div>
   
   <div style="text-align: center;margin-top: 25px;" >
      <button (click)="createActaSend()" type="button" class="btn" [disabled]="asistentes?.length==0" ><b>Enviar invitaciones</b></button>
   </div>
</form>

