<div class="login-view">
  	
	<div class="row user-row">
	   <div class="col-md-4 offset-md-4">
	   	  <input 
	   	  	#usuario 
	   	  	type="text" 
	   	  	class="form-control" 
	   	  	id="nombreCliente" 
	   	  	placeholder="Usuario"
	   	  	(change)="guardarUser('usuario', usuario.value)">
	   </div>
	</div>
	<div class="row password-row">
	   <div class="col-md-4 offset-md-4">
	   	  <input 
	   	  	#password 
	   	  	type="password" 
	   	  	class="form-control" 
	   	  	id="nombreCliente" 
	   	  	placeholder="Contraseña"
	   	  	(change)="guardarUser('password', password.value)">
	   </div>
	</div>
	<div class="row ingresar-button-row">
	   <div class="col-md-4 offset-md-7">
	   	  <button (click)="do()" type="button" class="btn btn-primary">Ingresar</button>
	   </div>
	</div> 

</div>