
   <form class="form-horizontal" action='' method="POST">
      <div class="row" style="padding-top: 30px;" >
         <div class="col-12" style="padding-left: 40px;" >
            <h2>Mas detalles</h2>
         </div>
      </div>

      
      <div class="row">
         <div class="col-4" style="padding: 10px;padding-left: 40px;" >
            <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Nombre cliente</div>
            <span>{{item.nombre}} {{item.apellido}}</span>>
         </div>
      </div>
      
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Fecha</div>
         <span>{{item.fecha}}</span>>
      </div>
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Telefonos</div>
         <span>{{item.telefono}}</span>>
      </div>     
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Email</div>
         <span>{{item.email}}</span>>
      </div> 
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Trabajo</div>
         <span>{{item.trabajo}}</span>>
      </div> 
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Carrera</div>
         <span>{{item.carrera}}</span>>
      </div>  
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Universidad</div>
         <span>{{item.universidad}}</span>>
      </div> 
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Donde entero</div>
         <span>{{item.dondeEntero}}</span>>
      </div>   
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Proxima entrega</div>
         <span>{{item.proximaEntrega}}</span>>
      </div>   
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Asesor</div>
         <span>{{item.asesor}}</span>>
      </div>    
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Observaciones</div>
         <span>{{item.observaciones}}</span>>
      </div>     
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">entregas</div>
         <span>{{item.entregas}}</span>>
      </div> 
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Total</div>
         <span>{{item.total}}</span>>
      </div> 
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Abono</div>
         <span>{{item.abono}}</span>>
      </div>  
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Saldo</div>
         <span>{{item.saldo}}</span>>
      </div>  
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Por cobrar</div>
         <span>{{item.porCobrar}}</span>>
      </div>  
      <div class="row">
      <table class="table table-new table-striped">
      <thead>
         <tr class="details-columns">
            <th>Ab1</th>
            <th>Fecha</th>
            <th>Ab2</th>
            <th>Fecha</th>
            <th>Ab3</th>
            <th>Fecha</th>
            <th>Ab4</th>
            <th>Fecha</th>
         </tr>
      </thead>
      <tbody class="centro" >
         <tr class="details-row">
            <td>{{item.ab1}}</td>
            <td>{{item.fechaAb1}}</td>
            <td>{{item.ab2}}</td>
            <td>{{item.fechaAb1}}</td>
            <td>{{item.ab3}}</td>
            <td>{{item.fechaAb1}}</td>
            <td>{{item.ab4}}</td>
            <td>{{item.fechaAb1}}</td>
         </tr>
      </tbody>
   </table>
   </div> 

   </form>

