
Bash/Navegar_Sitio_JEO/PASO_1/acces/*
Bash/Navegar_Sitio_JEO/PASO_1/agotados/*
Bash/Navegar_Sitio_JEO/PASO_1/colision/*
Bash/Navegar_Sitio_JEO/PASO_1/nuevos/*
Bash/Navegar_Sitio_JEO/PASO_1/radia/*
Bash/Navegar_Sitio_JEO/PASO_1/susp/*
Bash/Navegar_Sitio_JEO/PASO_3/files/*
Bash/Navegar_Sitio_JEO/PASO_7/indiv_files/*

Python/Jesus_Horas/Videos/
Python/Jesus_Horas/Parte2/Datos Netflix 1 año/unziped/
Python/Jesus_Horas/Parte2/Datos Netflix 1 año/
Python/Jesus_Horas/Parte2/compressData\.h5

Python/Jesus_Horas/Parte3/Explicacion\.mp4
Python/Jesus_Horas/Parte1/Explicacion\.mp4

PythonOLD/Extractor_Pag_Amarillas_Lat/back2/
PythonOLD/Joe_Cosmetica/nuevo/
PythonOLD/Joe_Cosmetica/rotos/

__pycache__/
*.pyc

Angular/Software_para_organizacion_de_oficina/Back/\.settings/
Angular/Software_para_organizacion_de_oficina/Front/package-lock\.json

NodeJS/ServerPino/node_modules/







NodeJS/ServerSoftware/node_modules/

Java/CarDetector-Server/\.settings/

Java/CarDetector-Server/\.project

Java/CarDetector-Server/\.classpath

Python/Jesus_Horas/Parte2/Explicacion\.mp4

Python/Jesus_Horas/Parte5/Explicacion\.mp4

Python/Jesus_Horas/Parte4/Explicacion\.mp4

Bash/Navegar_Sitio_JEO_filtro/PASO_5/resultados*

Bash/Navegar_Sitio_JEO_filtro/PASO_5/ScrappingPorFiltros2\.csv

Bash/Navegar_Sitio_JEO_filtro/PASO_5/ScrappingPorFiltros\.csv

Angular/software_metodologia/Front/dist/
