
Bash/Navegar_Sitio_JEO/PASO_1/acces/*
Bash/Navegar_Sitio_JEO/PASO_1/agotados/*
Bash/Navegar_Sitio_JEO/PASO_1/colision/*
Bash/Navegar_Sitio_JEO/PASO_1/nuevos/*
Bash/Navegar_Sitio_JEO/PASO_1/radia/*
Bash/Navegar_Sitio_JEO/PASO_1/susp/*
Bash/Navegar_Sitio_JEO/PASO_3/files/*
Bash/Navegar_Sitio_JEO/PASO_7/indiv_files/*

Python/JesusHoras/Videos/

Python/JesusHoras/Parte2/Datos Netflix 1 año/unziped/

Python/JesusHoras/Parte2/Datos Netflix 1 año/

Python/JesusHoras/Parte2/compressData\.h5

Angular/Software_para_organizacion_de_oficina/Back/\.settings/

NodeJS/ServerPino/node_modules/
