
Bash/Navegar_Sitio_JEO/PASO_1/acces/*
Bash/Navegar_Sitio_JEO/PASO_1/agotados/*
Bash/Navegar_Sitio_JEO/PASO_1/colision/*
Bash/Navegar_Sitio_JEO/PASO_1/nuevos/*
Bash/Navegar_Sitio_JEO/PASO_1/radia/*
Bash/Navegar_Sitio_JEO/PASO_1/susp/*
Bash/Navegar_Sitio_JEO/PASO_3/files/*
Bash/Navegar_Sitio_JEO/PASO_7/indiv_files/*

Python/Jesus_Horas/Videos/

Python/Jesus_Horas/Parte2/Datos Netflix 1 año/unziped/

Python/Jesus_Horas/Parte2/Datos Netflix 1 año/

Python/Jesus_Horas/Parte2/compressData\.h5

Angular/Software_para_organizacion_de_oficina/Back/\.settings/

NodeJS/ServerPino/node_modules/

PythonOLD/Extractor_Pag_Amarillas_Lat/back2/

PythonOLD/Joe_Cosmetica/nuevo/

PythonOLD/Joe_Cosmetica/rotos/

__pycache__/

Angular/Software_para_organizacion_de_oficina/Front/package-lock\.json

*.pyc
