<!-- ###########################   AGREGAR TEMA   ############################### -->
<change-state [(visible)]="showDialogAddCarre">
<h2 style="margin: 10px;margin-bottom: 20px;" >Crear un Tema Nuevo</h2>
<div class="col-12" style="margin-bottom: 20px;">

   <input #nuevaCarr type="text" class="form-control" placeholder="Definición">

   <input #indicador type="text" class="form-control" placeholder="Indicador">

   <select style="width: 100%;" #estrategia class="dropdown-select">
      <option disabled hidden [value]="Presente">-- Seleccione una estrategia --</option>
      <option *ngFor="let estrategia of estrategias" >{{estrategia}}</option>
   </select>

   <label>¿ Se relaciona con otros Cuerpos Colegiados? </label>
   <div  *ngFor="let cc of otrosCuColegiado" >
      <div style="display: inline;">
         <input #cheq type="checkbox" style="margin-left: 40px;" (click)="update(cc,cheq)">{{cc.nombre}}
      </div>
   </div>           

</div>
<div class="row">
   <div class="col-6"> 
      <button (click)="showDialogAddCarre = !showDialogAddCarre" (click)="crearTema(nuevaCarr.value, indicador.value, estrategia)"  class="btn" style="width: 100%;background: #72C585" >Agregar</button>
   </div>
   <div class="col-6"> 
      <button (click)="showDialogAddCarre = !showDialogAddCarre" class="btn" style="width: 100%;background: #E87B85" >Cancelar</button>
   </div>
</div>
</change-state>


<!-- ###########################   AGREGAR TAREA   ############################### -->
<change-state [(visible)]="showADD_TAREA">
<h2 style="margin: 10px;margin-bottom: 20px;" >Crear una Tarea Nueva</h2>
<div class="col-12" style="margin-bottom: 20px;">
   <input #nuevaTarea type="text" class="form-control" placeholder="Definición" (change)="nuevaTareaSel = nuevaTarea.value">
   <div style="display: flex;align-items: center;" >
   <label>Responsable:</label> 
   <select style="width: 100%;" #usuu class="dropdown-select" (change)="addUser(us)">
      <option *ngFor="let usuario of integrantesPresentes()" >{{usuario.nombre}}</option>
   </select>
   </div>
   <label style="margin: 0px;" >Fecha de entrega</label> 
   <input type="date" #myDate (change)="fechaMostrar = myDate.value">
</div>
<div class="row">
   <div class="col-6"> 
      <button [disabled]="fechaMostrar=='' || nuevaTareaSel == ''" (click)="showADD_TAREA = !showADD_TAREA" (click)="crearTarea(nuevaTarea.value, usuu, myDate)"  class="btn" style="width: 100%;background: #72C585" >Agregar</button>
   </div>
   <div class="col-6"> 
      <button (click)="showADD_TAREA = !showADD_TAREA" class="btn" style="width: 100%;background: #E87B85" >Cancelar</button>
   </div>
</div>
</change-state>


<!-- ###########################   AGREGAR USUARIO   ############################### -->
<change-state [(visible)]="showADD_USUARIO">
<h2 style="margin: 10px;margin-bottom: 20px;" >Crear una Tarea Nueva</h2>
<div class="col-12" style="margin-bottom: 20px;">
   <input #nuevaTarea type="text" class="form-control" placeholder="Definición" (change)="nuevaTareaSel = nuevaTarea.value">
   <div style="display: flex;align-items: center;" >
   <label>Responsable:</label> 
   <select style="width: 100%;" #usuu class="dropdown-select" (change)="addUser(us)">
      <option *ngFor="let usuario of integrantesPresentes()" >{{usuario.nombre}}</option>
   </select>
   </div>
   <label style="margin: 0px;" >Fecha de entrega</label> 
   <input type="date" #myDate (change)="fechaMostrar = myDate.value">
</div>
<div class="row">
   <div class="col-6"> 
      <button [disabled]="fechaMostrar=='' || nuevaTareaSel == ''" (click)="showADD_USUARIO = !showADD_USUARIO" (click)="crearTarea(nuevaTarea.value, usuu, myDate)"  class="btn" style="width: 100%;background: #72C585" >Agregar</button>
   </div>
   <div class="col-6"> 
      <button (click)="showADD_USUARIO = !showADD_USUARIO" class="btn" style="width: 100%;background: #E87B85" >Cancelar</button>
   </div>
</div>
</change-state>

<form *ngIf="actaSelect == null || paso=='0' " class="form-horizontal" action='' method="POST">
   <div class="row">
      <div class="col-4" >
      </div>
      <div class="col-4" >
         <select style="width: 100%;margin-top: 200px;" #clii class="dropdown-select" (change)="selectActa(clii)">
         <option disabled hidden [value]="empty">-- Seleccione el Acta --</option>
         <option *ngFor="let actaCit of actasCitadas" >Acta {{actaCit.id}}</option>
         </select>
         <button (click)="clicActaNext(clii)" [disabled]="actaSelect == null" type="button" class="btn"><b>Continuar</b></button>
      </div>
      <div class="col-4" >
      </div>
   </div>
   <div class="row" >
   </div>
</form>


<form style="margin-top: 200px;" *ngIf="paso==1" class="form-horizontal" action='' method="POST">
   <h5 style="text-align: center;font-style: italic;color: peru;font-weight: bold;">Acta: {{actaSelect.id}} - [ {{actaSelect.finMenteGral}} ]</h5>
   <div class="row" >
      <div class="col-1" >
      </div>
      <div class="col-5" >
         Integrantes de la reunion seleccionados
         <div *ngIf="actaSelect.integrantes?.length>0">
            <div class="list-group" *ngFor="let asistente of actaSelect.integrantes" >
               <div class="row" >
                  <div class="col-7" style="padding-right: 0px;" >
                     <button style="width: 100%;" type="button" class="btn"><b>{{asistente.nombre}}</b></button>
                  </div>
                  <div class="col-4" style="padding-right: 0px;align-self: center;" >
                     <select style="width: 100%;text-align: center;" #estSelect class="dropdown-select" (change)="asistente.estado = estSelect.value">
                     <option disabled hidden [value]="selectUndefinedOptionValue">-- Estado --</option>
                     <option *ngFor="let estado of estadosUsuario" >{{estado}}</option>
                     </select>
                  </div>
                  <div class="col-1" >
                     <button  (click)="removeUser(asistente)" style="width: 32px;padding-left: 0px;padding-right: 0px;" type="button" class="btn">
                     <img src="assets/trash.png" style="width: 18px;" >
                     </button> 
                  </div>
               </div>
            </div>
         </div>
         <div *ngIf="actaSelect.integrantes?.length==0">
            <div class="list-group" >
               <div class="row" >
                  <div class="col-10" style="padding-right: 0px;" >
                     <button style="width: 100%;" type="button" class="btn"><b>Sin Asistentes ...</b></button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-4" style="margin-left: 60px;">
      <div>
         <div>
         Crear un nuevo usuario
         </div>
         <button  (click)="removeUser(asistente)" 
         style="width: 32px;padding-left: 0px;padding-right: 0px;" type="button" class="btn">
            <img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-4/128/add-user2-512.png" style="width: 18px;" >
         </button>
         </div>
   <div style="margin-top: 30px;"  >Agregue un usuario</div>

   <div style="background: #E4AD2D80;" >
      <input type="text" [(ngModel)]="queryString" [ngModelOptions]="{standalone: true}" id="search" placeholder="Busque por email">
      <ul style="max-height: 100px;overflow: scroll;" > 
         <li *ngFor="let usuario of usuarios | FilterPipe: queryString ">
            <button style="border: none;background: #E4AD2DCC;border-radius: 8px;font-size: small;" (click)="addUser(usuario)">{{usuario.nombre}} - {{usuario.email}}</button>
         </li>
      </ul>
   </div>

      </div>
   </div>
   <div class="row" style="margin-top: 25px;">
      <div class="col-2 offset-5" >
         <button style="width: 100%;" (click)="updatePasoIntegrantes('2')" [disabled]="integrantesConEstado()" type="button" class="btn"><b>Continuar</b></button>
      </div>
   </div>
</form>






<form style="width: 100%;margin-top: 200px;" *ngIf="paso==2" class="form-horizontal" action='' method="POST">
   <h5 style="text-align: center;font-style: italic;color: peru;font-weight: bold;">Acta: {{actaSelect.id}} - [ {{actaSelect.finMenteGral}} ]</h5>
   <div class="row" >
      <div class="col-6 offset-3" >
         Integrantes de la reunion seleccionados
         <div *ngIf="actaSelect.integrantes?.length>0">
            <div class="list-group" *ngFor="let asistente of actaSelect.integrantes" >
               <div class="row" >
                  <div class="col-6" style="padding-right: 0px;" >
                     <button style="width: 100%;" type="button" class="btn"><b>{{asistente.nombre}}</b></button>
                  </div>
                  <div class="col-6" style="padding-right: 0px;align-self: center;" >
                  <input #fin (change)="asistente.finEnMente=fin.value" type="text" class="form-control" placeholder="Fin en mente">

                  </div>
               </div>
            </div>
         </div>
         <div *ngIf="actaSelect.integrantes?.length==0">
            <div class="list-group" >
               <div class="row" >
                  <div class="col-10" style="padding-right: 0px;" >
                     <button style="width: 100%;" type="button" class="btn"><b>Sin Asistentes ...</b></button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row" style="margin-top: 25px;">
      <div class="col-2 offset-5" >
         <button style="width: 100%;" (click)="updatePasoIntegrantes('3')" [disabled]="actaSelect == null" type="button" class="btn"><b>Continuar</b></button>
      </div>
   </div>
</form>









<form style="margin-top: 50px;" *ngIf="paso==3" class="form-horizontal" action='' method="POST">
   <h5 style="text-align: center;font-style: italic;color: peru;font-weight: bold;">Acta: {{actaSelect.id}} - [ {{actaSelect.finMenteGral}} ]</h5>

<!-- ################################## Temas ##################################  -->
   <div  *ngIf="temasDelActa.length>0" class="row" >
      <div class="col-xl-2" style="text-align: center;">

         <img src="assets/logo.png" style="max-width: 200px;max-height: 150px;margin-top: -40px;" >  

      </div>
      <div class="col-xl-8" >
         <div class="row" style="align-items: center;" >
            <div class="col-8" >
               <h4>Tema: {{actaSelect.finMenteGral}}</h4>
            </div>
         </div>

         <textarea  disabled class="form-control" rows="8" id="comment" style="font-size: x-small;">
Tema:{{temaActual.id}} [ {{temaActual.detalle}} ] --- > Objetivo Est: {{temaActual.objetivoEstrategico}} / {{temaActual.indicador}}  {{toStringTema(temaActual.eventos)}}
         </textarea>
         
         <div class="row" style="align-items: center;">
            <div class="col-8" style="padding-right: 0px;" >
               <textarea #commentTema class="form-control" rows="1" placeholder="Nuevo Comentario" 
               (keyup)="comentarioTema=commentTema.value" 
               (keydown)="comentarioTema=commentTema.value"></textarea>
            </div>
            <div class="col-2" style="padding-right: 0px;" >
               <button [disabled]="comentarioTema == '' " (click)="addComentario('Comentario del acta: ' + actaSelect.id +' - ' + commentTema.value)" type="button" class="btn" style="width: 100%;font-size: x-small;" >Agregar Comentario</button>
            </div>
            <div class="col-2" >
               <div style="text-align: center;" >         
                  <button (click)="closeTema('Comentario del acta: ' + actaSelect.id +' - Se ha cerrado el tema' )" type="button" style="width: 100%;font-size: x-small;" class="btn">Cerrar Tema</button>
               </div>            
            </div>

         </div>

<!-- ################################## Tareas ##################################  -->

<div *ngIf="tareasMostrar.length > 0" >
         <div class="row" style="align-items: center;padding-top: 35px;">
               <h4 style="margin-left: 15px;" >Tarea: {{tareaActual.detalle}}</h4>

         </div>
         <textarea *ngIf="tareasMostrar.length > 0" id="Texto Tarea" disabled class="form-control" rows="8" style="font-size: x-small;" placeholder="Agregar Comentario"
>Tarea:{{tareaActual.id}} [ Responsable: {{tareaActual.responsable?.nombre}} ]
Estado: {{tareaActual.estado}}
Resumen: {{tareaActual.detalle}}
{{toString(tareaActual.eventos)}}</textarea>
         <textarea *ngIf="tareasMostrar.length == 0" id="Texto Tarea" disabled class="form-control" rows="8" style="font-size: x-small;"></textarea>
         <div class="row" style="align-items: center;">
            <div class="col-8" style="padding-right: 0px;" >
               <textarea #commentTarea class="form-control" rows="1" placeholder="Nuevo Comentario"
               (keyup)="comentarioTarea=commentTema.value" 
               (keydown)="comentarioTarea=commentTema.value" [disabled]="tareasMostrar.length == 0" ></textarea>
            </div>
            <div class="col-2" style="padding-right: 0px;" >
               <button (click)="addComentarioTarea('Comentario del acta: ' + actaSelect.id +' - ' + commentTarea.value)" type="button" class="btn" style="width: 100%;font-size: x-small;" [disabled]="tareaActual.estado != 'Abierto' || comentarioTarea=='' || tareasMostrar.length == 0" >Agregar Comentario</button>
            </div>
            <div class="col-2" >
               <div style="text-align: center;" >         
                  <button (click)="closeTarea()" type="button" style="width: 100%;font-size: x-small;" class="btn" [disabled]="tareaActual.estado != 'Abierto'" >Cerrar Tarea</button>
               </div>            
            </div>

         </div>

</div>

         <div style="text-align: center;margin-top: 20px;" >
         <button (click)="checkAvanzarTareas()" type="button" class="btn"><b>Continuar</b></button>
         </div>
      </div>
      <div class="col-2" style="text-align: center;">
         <img [src]="logo" style="max-width: 175px;max-height: 150px;margin-top: -30px;" >  
      </div>
   </div>

   <div  *ngIf="temasDelActa.length==0" class="row" >
      <div class="col-xl-2" >
      </div>
      <div class="col-xl-8" >
         <div class="row" style="align-items: center;">
            <div class="col-8" >
               <h4>Temas Abiertos</h4>
            </div>
            <div class="col-1" style="padding-left: 5px;padding-right: 5px;;opacity: 0.5;">
               <button style="width: 32px;" type="button" class="btn" (click)="indiceTemaMenos()">
               <img src="assets/left.png" style="width: 150%;" >
               </button> 
            </div>
            <div class="col-2" style="text-align: center;">Sin temas</div>
            <div class="col-1" style="padding-left: 5px;padding-right: 5px;opacity: 0.5;">
               <button style="width: 32px;" type="button" class="btn" (click)="indiceTemaMas()">      
               <img src="assets/rigth.png" style="width: 150%;" >
               </button> 
            </div>
         </div>
         <textarea (dblclick)="showDialogAddCarre=true" class="form-control" rows="4" id="comment" placeholder="Agregar Comentario" readonly>  No existen temas abiertos, para crear uno nuevo haga clic aqui .... </textarea>
         <div style="text-align: center;margin-top: 20px;" >
         <button (click)="avanzar()" type="button" class="btn"><b>Continuar</b></button>
         </div>      </div>
      <div class="col-2" style="text-align: center;">
         <img [src]="logo" style="max-width: 175px;max-height: 150px;margin-top: -30px;" >  
      </div>

   </div>

</form>










<form style="margin-top: 50px;" *ngIf="paso==4" class="form-horizontal" action='' method="POST">
   <h5 style="text-align: center;font-style: italic;color: peru;font-weight: bold;">Acta: {{actaSelect.id}} - [ {{actaSelect.finMenteGral}} ]</h5>
   <div style="text-align: center;margin-top: 100px;" >
      ¿ Desea agregar un tema nuevo?
      <button (click)="showDialogAddCarre=true" (click)="updatePaso('3')" style="width: 40px;padding-left: 0px;padding-right: 0px;" type="button" class="btn">
      <img src="assets/add.png" style="width: 22px;" >
      </button> 
   </div>
   <div style="text-align: center;margin-top: 20px;" >
      <button (click)="updatePaso('5')" type="button" class="btn"><b>Continuar, sin agregar un tema</b></button>
   </div>
</form>




<form style="margin-top: 50px;" *ngIf="paso==5" class="form-horizontal" action='' method="POST">
   <h5 style="text-align: center;font-style: italic;color: peru;font-weight: bold;">Acta: {{actaSelect.id}} - [ {{actaSelect.finMenteGral}} ]</h5>
   <div style="text-align: center;margin: 100px;" >
      

      <textarea (dblclick)="showDialogAddCarre=true" class="form-control" rows="4" id="comment" placeholder="Comentarios Adicionales"></textarea>
      <input #fin (change)="asistente.finEnMente=fin.value" type="text" class="form-control" placeholder="¿Se cumplió el fin en mente de la reunión?">
      <input #fin (change)="asistente.finEnMente=fin.value" type="text" class="form-control" placeholder="¿Fue suficiente el tiempo utilizado en la reunión? ">
      <input #fin (change)="asistente.finEnMente=fin.value" type="text" class="form-control" placeholder="¿Tuvo algún inconveniente en la reunión?">
      <input #fin (change)="asistente.finEnMente=fin.value" type="text" class="form-control" placeholder="¿Tiene alguna sugerencia sobre la reunión o sus participantes?">
      <input #fin (change)="asistente.finEnMente=fin.value" type="text" class="form-control" placeholder="¿La redacción de las tareas nuevas fue aprobada por quién es
responsable de la tarea?">
   </div>
   <div style="text-align: center;" >
      <button (click)="closeActa()" type="button" class="btn"><b>Finalizar</b></button>
   </div>
</form>




