

<div class="row" >
   <div class="col-2" >
      <img src="assets/logo.png" style="width: 100px;" >
   </div>
   <div class="col-10" style="text-align: center;" >
      <h1>Menu de consultas</h1>
      <h1>Nombre de la compania</h1>
   </div>
</div>
<form class="form-horizontal" action='' method="POST">
   <div class="row" >
      <div class="col-xl-2" >
      </div>
      <div class="col-xl-8" >
         <div class="row" style="align-items: center;">
            <div class="col-8" >
               <h4>Temas Abiertos</h4> 
            </div>
            <div class="col-1" style="padding-left: 5px;padding-right: 5px;">
               <button style="width: 32px;" type="button" class="btn" (click)="indiceTemaMenos()">
               <img src="assets/left.png" style="width: 150%;" >
               </button> 
            </div>
            <div class="col-2" style="text-align: center;">  {{indice + 1}} de {{temasDelActa?.length}} </div>
            <div class="col-1" style="padding-left: 5px;padding-right: 5px;">
               <button style="width: 32px;" type="button" class="btn" (click)="indiceTemaMas()">      
               <img src="assets/rigth.png" style="width: 150%;" >
               </button> 
            </div>
         </div>
         <textarea class="form-control" rows="4" id="comment" placeholder="Agregar Comentario">{{temaActual.desarrollo}}            
         </textarea>
         <textarea class="form-control" rows="1" id="comment" placeholder="Agregar Comentario"></textarea>
         <div style="text-align: right;" >         <button type="button" class="btn"><b>Cerrar Tema</b></button>
         </div>
         <div class="row" style="align-items: center;">
                        <div class="col-8" >         <h4>Tareas Abiertas</h4>

      </div>
            <div class="col-1 " style="padding-left: 5px;padding-right: 5px;">
               <button style="width: 32px;" type="button" class="btn">
               <img src="assets/left.png" style="width: 150%;" >
               </button> 
            </div>
            <div class="col-2" style="text-align: center;">  1 de 4 </div>
            <div class="col-1" style="padding-left: 5px;padding-right: 5px;">
               <button style="width: 32px;" type="button" class="btn">      
               <img src="assets/rigth.png" style="width: 150%;" >
               </button> 
            </div>
         </div>
         <textarea class="form-control" rows="4" id="comment" placeholder="Agregar Comentario"></textarea>
         <textarea class="form-control" rows="1" id="comment" placeholder="Agregar Comentario"></textarea>
         <div style="text-align: right;" >         <button type="button" class="btn"><b>Cerrar Tema</b></button>
         </div>
         <button (click)="paso=2" type="button" class="btn"><b>Continuar</b></button>
      </div>
   </div>
</form>
