
<div class="row" style="height: 100px;background-color: #322f2f;">
   <div class="col-4" style="text-align: right;">
      <img style="padding: 20px;" src="http://www.capcenterasesores.com/images/logo.png" alt="Flowers in Chania">
   </div>
   <div class="col-1">
      <h2 style="color: gray;padding: 15px;padding-top: 40px;font-style: italic;font-weight: bold;padding-left: 0px;text-align: center;" ></h2>
   </div>
   <div class="col-7">
      <h2 style="color: gray;padding: 15px;padding-top: 40px;font-style: italic;font-weight: bold;padding-left: 0px;" ></h2>
   </div>
</div>

<nav *ngIf="!loggin" class="navbar navbar-expand-lg navbar-light bg-light" style="background: #496784 !important;">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li 
        class="nav-item active" 
        class="rounded" 
        style="padding-right: 25px;">
        <a 
          [routerLink]="['/home']" 
          class="nav-link" 
          style="color: lightcyan;font-style: italic;">
            Inicio
        </a>
      </li>
      <li 
        class="nav-item active" 
        class="rounded" 
        style="padding-right: 25px;">
        <a 
          [routerLink]="['/register-work']" 
          class="nav-link" 
          style="color: lightcyan;font-style: italic;">
            Agregar Trabajo
        </a>
      </li>
      <li 
        class="nav-item dropdown" 
        style="padding-right: 25px;">
        <a 
          class="nav-link dropdown-toggle" 
          id="navbarDropdown" 
          role="button" 
          data-toggle="dropdown" 
          aria-haspopup="true" 
          aria-expanded="false" 
          style="color: lightcyan;font-style: italic;">
          Reportes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/reports/to-do']">Trabajos por hacer</a>
          <a class="dropdown-item" [routerLink]="['/reports/new-clients']">Clientes / Pagos</a>
          <a class="dropdown-item" [routerLink]="['/reports/old-clients']" hidden >Clientes antiguos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/reports/indicators']">Indicadores</a>
        </div>
      </li>
      <li 
        class="nav-item dropdown" 
        style="padding-right: 25px;">
        <div class="dropdown">
            <a 
              class="nav-link dropdown-toggle admin-menu" 
              id="dropdownMenu1" 
              role="button" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false"  
              style="color: lightcyan;font-style: italic;">
              Administracion
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-item">
                  <a [routerLink]="['/register-user']">Crear usuario</a>
                </li>
                <li class="dropdown-submenu">
                  <a  class="dropdown-item" tabindex="-1" href="#">Agregar</a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item">
                      <a tabindex="-1" [routerLink]="['/register']">Cliente</a>
                    </li>
                    <li class="dropdown-item">
                      <a [routerLink]="['/register-work']">Trabajo</a>
                    </li>
                    <li class="dropdown-item"><a [routerLink]="['/register-asesor']">Asesor</a></li>
                  </ul>
                </li>
                <li class="dropdown-item">
                  <a [routerLink]="['/home']" >Proveedores</a>
                </li>
                <li class="dropdown-item">
                  <a [routerLink]="['/audits']">Auditoria</a>
                </li>
                <li class="dropdown-item">
                  <a href={{getServerImport()}}>Importar Excel</a>
                </li>
                <li class="dropdown-item">
                  <a href={{getServerExport()}}>Exportar Excel</a>
                </li>
            </ul>
        </div>
      </li>
      <li class="nav-item active" class="rounded" style="padding-right: 25px;">
        <a (click)="changeState()"  [routerLink]="['/login']" class="nav-link" href="#" style="color: lightcyan;font-style: italic;" >Salir <span class="sr-only">(current)</span></a>
      </li>

    </ul>

  </div>
</nav>
