
<div class="row" style="height: 100px;background-color: #322f2f;">
   <div class="col-4" style="text-align: right;">
      <img style="padding: 20px;" src="http://www.capcenterasesores.com/images/logo.png" alt="Flowers in Chania">
   </div>
   <div class="col-1">
      <h2 style="color: gray;padding: 15px;padding-top: 40px;font-style: italic;font-weight: bold;padding-left: 0px;text-align: center;" >/</h2>
   </div>
   <div class="col-7">
      <h2 style="color: gray;padding: 15px;padding-top: 40px;font-style: italic;font-weight: bold;padding-left: 0px;" >System Control</h2>
   </div>
</div>

