<div class="row" style="align-items: center;text-align: center;">
   <div class="col-2" >
      <img src="assets/logo.png" style="width: 150px;" >
   </div>
   <div class="col-8" style="text-align: center;" >
      <h1 style='font-family: "Barlow Semi Condensed script=latin rev=1";'>Menu de consultas</h1>
      <h1 style='font-family: "Barlow Semi Condensed script=latin rev=1";font-size: larger;' >{{nombre}}</h1>
   </div>
   <div class="col-2" >
      <img [src]="logo" style="width: 150px;" >
   </div>
</div>