
<form class="form-horizontal" action='' method="POST">
   <div class="row" >

   <!-- ******************************** COMBOS *************************** -->
      <div class="col-2" >
      </div>
      <div class="col-4" >
         <select style="width: 100%;" #cuerpo class="dropdown-select" (change)="setCuerpo(cuerpo)">
         <option [value]="">-- Todos los Cuerpos Colegiados --</option>
         <option *ngFor="let cuerpoColegiado of cuerposColegiadoList" >{{cuerpoColegiado.nombre}}</option>
         </select>
      </div>
      <div class="col-4" >
         <select style="width: 100%;" #respon class="dropdown-select" (change)="setResponsable(respon)">
         <option [value]="">-- Todos los Responsables --</option>
         <option *ngFor="let responsable of responsableList" >{{responsable.nombre}}</option>
         </select>
      </div>
   </div>
   
</form>

<div style="text-align: right;">
  <button type="button" class="btn" (click)="cambiarVista()">Cambiar Vista Lista / Calendario</button> 
</div>

<form style="margin-top: 20px;" class="form-horizontal" action='' method="POST">

<!-- ################################## Temas ##################################  -->
<div *ngIf="tareaList && vistaLista" >Total: {{tareaList.length}}</div>

<table class="table" style="background: white;border: solid 2px gray;" *ngIf="tareaList  && vistaLista">
    <thead>
    </thead>
    <tbody>
        <tr *ngFor="let tarea of tareaList" >
            <td style="font-family: Verdana, Geneva, sans-serif;color: #1b64e4;font-weight: 500; padding: 5px;vertical-align: middle;padding-left: 20px;" >{{tarea.fechaCreacion}} - Tarea del Acta {{tarea.temaId}}. Responsable: {{tarea.responsable.nombre}}. Estado: {{tarea.estado}} </td>
            <td style="padding: 5px;" ><button (click)="alert(tarea)" >Detalles</button></td>

        </tr>
    </tbody>
</table> 


</form>




<div class="row" *ngIf="tareaList && !vistaLista" >

   <div class="col-4" style="text-align: right;">
               <button style="width: 32px;" type="button" class="btn" (click)="mesMenos()">
               <img src="assets/left.png" style="width: 150%;" >
               </button> 
   </div>

   <div class="col-4" style="text-align: center;align-self: center;font-size: x-large;font-style: oblique;"> {{fechaCalendarioString}}
   </div>

   <div class="col-4" >
               <button style="width: 32px;" type="button" class="btn" (click)="mesMas()">      
               <img src="assets/rigth.png" style="width: 150%;" >
               </button> 
   </div>

</div>



<table class="table" style="background: white;border: solid 2px gray;" *ngIf="tareaList && !vistaLista">
    <thead>
    <th>DO</th>
    <th>LU</th>
    <th>MA</th>
    <th>MI</th>
    <th>JU</th>
    <th>VI</th>
    <th>SA</th>

    </thead>
    <tbody>
        <tr *ngFor="let semanas of tareaListCalendar" >
            <td style="width: 14%;border: solid 1px lightgray;">{{semanas[0]?.detalle}} 
                <div *ngFor="let ta of semanas[0]?.tareas" >
                    <a (click)="alert(ta)" >{{ta.detalle}}</a>
                </div>
            </td>
            <td style="width: 14%;border: solid 1px lightgray;">{{semanas[1]?.detalle}} 
                <div *ngFor="let ta of semanas[1]?.tareas" >
                    <a (click)="alert(ta)" >{{ta.detalle}}</a>
                </div>
            </td>            
            <td style="width: 14%;border: solid 1px lightgray;">{{semanas[2]?.detalle}} 
                <div *ngFor="let ta of semanas[2]?.tareas" >
                    <a (click)="alert(ta)" >{{ta.detalle}}</a>
                </div>
            </td>  
            <td style="width: 14%;border: solid 1px lightgray;">{{semanas[3]?.detalle}} 
                <div *ngFor="let ta of semanas[1]?.tareas" >
                    <a (click)="alert(ta)" >{{ta.detalle}}</a>
                </div>
            </td>  
            <td style="width: 14%;border: solid 1px lightgray;">{{semanas[4]?.detalle}} 
                <div *ngFor="let ta of semanas[4]?.tareas" >
                    <a (click)="alert(ta)" >{{ta.detalle}}</a>
                </div>
            </td>
            <td style="width: 14%;border: solid 1px lightgray;">{{semanas[5]?.detalle}} 
                <div *ngFor="let ta of semanas[5]?.tareas" >
                    <button (click)="alert(ta)" >{{ta.detalle}}</button>
                </div>
            </td> 
            <td style="width: 14%;border: solid 1px lightgray;">{{semanas[6]?.detalle}} 
                <div *ngFor="let ta of semanas[6]?.tareas" >
                    <a (click)="alert(ta)" >{{ta.detalle}}</a>
                </div>
            </td>                         

        </tr>
    </tbody>
</table> 