<app-header></app-header>

<div class="row home-page-container">
   <div class="col-6 logo-home" >
      <img src="assets/logo.png" style="width: 75%;" >
   </div>
   <div  class="col-4 buttons-middle-container" >
      <div class="buttons-middle-second-container" >
         <div  class="row buttons-middle-row" >
            <div class="col-9 offset-md-3">
               <button 
                  [routerLink]="['/consultas']"  
                  type="button" 
                  class="btn home-buttons">
                  <b>   
                     Consultas
                  </b>
               </button>
            </div>
         </div>

         <div  class="row" >
            <div class="col-9 offset-md-3">
               <button 
                  [routerLink]="['/reuniones']"
                  type="button" 
                  class="btn home-buttons">
                  <b>
                     Citar a una reunion
                  </b>
               </button>
            </div>
         </div>

         <div  class="row" >
            <div class="col-9 offset-md-3">
               <button 
                  [routerLink]="['/sesion']"
                  type="button" 
                  class="btn home-buttons">
                  <b>
                     Administracion de reuniones
                  </b>
               </button>
            </div>
         </div>
      </div>
   </div>
</div>
<div  class="row bottom-buttons-container">

   <div  class="col-5 offset-6" >
            <div  class="row" >
               <div class="col-6" >
                  <button 
                     (click)="do()" 
                     type="button" 
                     class="btn home-buttons">
                     <b>
                        Mantenimiento
                     </b>
                  </button>
               </div>
               <div class="col-6">
                  <button 
                     (click)="do()" 
                     type="button" 
                     class="btn home-buttons">
                     <b>
                        Salir
                     </b>
                  </button>
               </div>
         </div>
      </div>
   </div>


