

<form class="form-horizontal" action='' method="POST">
   <div class="row" style="padding-top: 30px;" >
      <div class="col-12" style="padding-left: 40px;" >
         <h2>Registro de nuevo pago</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-4" style="padding: 10px;padding-left: 40px;" >
         <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Total">
      </div>
   </div>

   <div class="row">
      <div class="col-4" style="padding: 10px;padding-left: 40px;" >
         <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Abono">
      </div>
   </div>
   
   <div class="row">
      <div class="col-4" style="padding: 10px;padding-left: 40px;" >
         <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Saldo">
      </div>
   </div>

   <div class="row">
      <div class="col-4" style="padding: 10px;padding-left: 40px;" >
    <label for="exampleFormControlTextarea1">Observaciones</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

      </div>
   </div>



   <div class="row">
      <div class="col-4" style="text-align: center;">
      </div>
      <div class="col-4" style="text-align: center;">
         <a  (click)="do()" [routerLink]="['/home']" class="btn btn-secondary agregar-cliente" style="width: 100%;" >Finalizar</a>
      </div>
      <div class="col-4" style="text-align: center;">
      </div>
   </div>
</form>

