

<form class="form-horizontal" action='' method="POST">
   <div class="row" style="padding-top: 30px;" >
      <div class="col-12" >
         <h2>Registro de nuevo pago</h2>
      </div>
   </div>
   <hr />
   <div class="row register-row">
      <div class="col-6" >
         <div><b>Cliente: </b>{{cliente.nombre}}</div>
      </div>
   </div>
   <div class="row register-row">
      <div class="col-6">
         <div><b>Trabajo: </b>{{trabajo.tema}}</div>
      </div>
   </div>
   <div class="row register-row">
      <div class="col-4">
         <div><b>Monto del trabajo: </b>{{trabajo.monto}}</div>
      </div>
   </div>
   <div class="row register-row">
      <div class="col-4">
         <div><b>Monto pagado: </b>{{+trabajo.monto - +trabajo.saldo}}</div>
      </div>
   </div>
   <div class="row register-row">
      <div class="col-4">
         <b>Pagos efectuados: </b>
         <table class="table table-new table-striped">
            <thead>
               <tr class="client-columns" >
                  <th>  
                     Fecha de carga
                  </th>
                  <th>
                     Monto
                  </th>
                  <th>
                     Medio de pago
                  </th>
                  <th>
                     Detalles
                  </th>
               </tr>
            </thead>
            <tbody class="centro" >
               <tr *ngFor="let req of trabajo.pagos" class="client-columns" (dblclick)="showDialogAddReq = !showDialogAddReq">
               <td>{{req.fecha_pago}}</td>
               <td>{{req.abono}}</td>
               <td>{{req.forma_pago}}</td>
               <td>{{req.detalle}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <hr />
   <div class="row register-row">
      <div class="col-4">
         <div class="register-title">Valor del Nuevo Abono</div>
         <input 
            #valor
            type="number" 
            class="form-control" 
            placeholder="Valor" 
            (keyup)="onKey($event)" 
            (change)="onKey($event)"
            (change)="addNuevoPago('abono', valor.value)">
      </div>
   </div>
   <div class="row register-row">
      <div class="col-6">
         <div class="register-remaining">Sin IVA {{getValorSinIVA()}}</div>
      </div>
      <div class="col-6">
         <div class="register-remaining">IVA {{getValorIVA()}}</div>
      </div>
   </div>
   <div class="row register-row">
      <div class="col-4" style="font-size: 15px;" >
         <select #metodo class="dropdown-select" (change)="addNuevoPago('forma_pago', metodo.value)">
            <option disabled hidden [value]="selectUndefinedOptionValue">-- Forma de pago --</option>
            <option *ngFor="let metodo of metodosPago">{{metodo}}</option>
         </select>
      </div>
   </div>
   <div class="row register-row">
      <div class="col-4">
         <label for="exampleFormControlTextarea1">Detalles de pago</label>
         <textarea 
            #observaciones
            class="form-control" 
            id="exampleFormControlTextarea1" 
            rows="3" 
            (change)="addNuevoPago('detalle', observaciones.value)"></textarea>
      </div>
   </div>
   <hr />
   <div class="row register-row">
      <div class="col-4">
         <div class="register-remaining">Total Pagado</div>
         <div class="register-remaining">{{ getValor() }}</div>
      </div>
   </div>
   <div class="row register-row">
      <div class="col-4">
         <div class="register-remaining">Saldo Pendiente</div>
         <div class="register-remaining">{{ +trabajo.monto - getValor() }}</div>
      </div>
   </div>
   <div class="row register-row">
      <div class="col-4">
      </div>
      <div class="col-4">
         <a  (click)="do()" [routerLink]="['/home']" class="btn btn-secondary agregar-cliente" style="width: 100%;" >Finalizar</a>
      </div>
      <div class="col-4">
      </div>
   </div>
</form>

