

<form class="form-horizontal" action='' method="POST">
   <div class="row" style="padding-top: 30px;" >
      <div class="col-12" >
         <h2>Registro de nuevo pago</h2>
      </div>
   </div>

   <div class="row register-row">
      <div class="col-4">
         <div class="register-title">Cliente</div>
         <div class="dropdown">
            <button class="btn dropdown-toggle dropdown-custom" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [value]="selectUndefinedOptionValue" disabled="true">
               {{cliente.nombre}}
               </button>
            <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="dropdownMenuButton">
               <a class="dropdown-item" *ngFor="let cliente of clientes" >{{cliente.nombre}} {{cliente.apellido}}</a>
            </div>
         </div>
      </div>
   </div>

   <div class="row register-row">
      <div class="col-4">
         <div class="register-title">Trabajo</div>      
         <div class="dropdown">
            <button class="btn dropdown-toggle dropdown-custom" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [value]="selectUndefinedOptionValue" disabled="true">
               {{trabajo.tema}}
               </button>
            <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="dropdownMenuButton">
               <a class="dropdown-item" *ngFor="let cliente of clientes" >{{cliente.nombre}} {{cliente.apellido}}</a>
            </div>
         </div>
      </div>
   </div>


   <div class="row register-row">
      <div class="col-4">
         <div class="register-title">Valor</div>
         <input type="number" class="form-control" placeholder="Valor" (keyup)="onKey($event)">
      </div>
   </div>

   <div class="row register-row">
      <div class="col-6">
         <div class="register-remaining">Sin IVA {{getValorSinIVA()}}</div>
      </div>
      <div class="col-6">
         <div class="register-remaining">IVA {{getValorIVA()}}</div>
      </div>
   </div>

   <div class="row register-row">
      <div class="col-4">
         <div class="dropdown">
            <button class="btn dropdown-toggle dropdown-custom" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Seleccione medio de pago
               </button>
            <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="dropdownMenuButton">
               <a class="dropdown-item">Tarjeta debito</a>
               <a class="dropdown-item">Tarjeta de credito</a>
               <a class="dropdown-item">Efectivo</a>
               <a class="dropdown-item">Otros</a>
            </div>
         </div>
      </div>
   </div>

   <div class="row register-row">
      <div class="col-4">
    <label for="exampleFormControlTextarea1">Observaciones</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

      </div>
   </div>

   <div class="row register-row">
      <div class="col-4">
         <div class="register-remaining">Total</div>
         <div class="register-remaining">$$$$$</div>
      </div>
   </div>
   <div class="row register-row">
      <div class="col-4">
         <div class="register-remaining">Abonos</div>
         <div class="register-remaining">$$$$$</div>
      </div>
   </div>
   <div class="row register-row">
      <div class="col-4">
         <div class="register-remaining">Saldo</div>
         <div class="register-remaining">$$$$$</div>
      </div>
   </div>

   <div class="row register-row">
      <div class="col-4">
      </div>
      <div class="col-4">
         <a  (click)="do()" [routerLink]="['/home']" class="btn btn-secondary agregar-cliente" style="width: 100%;" >Finalizar</a>
      </div>
      <div class="col-4">
      </div>
   </div>
</form>

