<div class="row">
<div class="col-6" style="text-align: center;align-self: center;">
      <h5>Camara 1</h5>

</div>
<div class="col-6" style="text-align: center;align-self: center;">
   <h5>Camara 2</h5>


</div>
</div>



<div class="row">
   <div class="col-6" style="text-align: center;">
      <img src="http://75.130.56.53/mjpg/video.mjpg?COUNTER" alt="http://75.130.56.53/mjpg/video.mjpg?COUNTER" class="shrinkToFit" width="648" height="442">
   </div>
<div class="col-6" style="text-align: center;align-self: center;">
   <div class="col-6" style="text-align: center;">
      <img src="http://104.157.73.60:80/cgi-bin/faststream.jpg?stream=half&fps=15&rand=COUNTER" alt="http://75.130.56.53/mjpg/video.mjpg?COUNTER" class="shrinkToFit" width="648" height="442">
   </div>

</div>

</div>

<div class="row" style="margin-top: 30px;">
<div class="col-6" style="text-align: center;align-self: center;">

      <div class="row">
         <div class="col-2 offset-5" style="height: 100px;" [style.background]="getColor1()"></div>
         {{getCant1()}} autos
      </div>
</div>
<div class="col-6" style="text-align: center;align-self: center;">

   <div class="row">
      <div class="col-2 offset-5" style="height: 100px;" [style.background]="getColor2()"></div>
      {{getCant2()}} autos

   </div>

</div>
</div>