
<form class="form-horizontal" action='' method="POST">
   <div class="row" style="padding-top: 30px;" >
      <div class="col-12" style="padding-left: 40px;" >
         <h2 class="row register-row">Registro de nuevo cliente</h2>
      </div>
   </div>

   <div class="row details-data-row">
      <div class="col-6">
         <div class="detail-title">Nombre y Apellido*</div>
         <input (input)="update_field_nombre($event.target.value)" class="form-control" type="text" placeholder="Nombre y Apellido" minlength="1">
      </div>
   
      <div class="col-6">
         <div class="detail-title">Fecha de registro</div>
         <input type="text" class="form-control" value ="{{ date | date:'dd-MM-yyyy'}}" [disabled]="true"> 
      </div>
      
   </div>     
   
   <div class="row details-data-row">
      
      <div class="col-4">
         <div class="detail-title">Telefono 1</div>
         <input (input)="update_field_telef1($event.target.value)" type="string" class="form-control" placeholder="Telefono 1"  >
      </div>

      <div class="col-4">
         <div class="detail-title">Telefono 2</div>
         <input (input)="update_field_telef2($event.target.value)" type="string" class="form-control" placeholder="Telefono 2"  >
      </div>

      <div class="col-4">
         <div class="detail-title">Telefono 3</div>
         <!--<div>{{item.telefono}}</div>-->
         <input (input)="update_field_telef3($event.target.value)" type="string" class="form-control" placeholder="Telefono 3"  >
      </div>
      
   </div>     

   <div class="row details-data-row">
      
      <div class="col-4">
         <div class="detail-title">Email 1</div>
         <!--<div>{{item.email}}</div>-->
         <input (input)="update_field_email1($event.target.value)" type="text" class="form-control" placeholder="Email 1" >
      </div> 

      <div class="col-4">
         <div class="detail-title">Email 2</div>
         <!--<div>{{item.email}}</div>-->
         <input (input)="update_field_email2($event.target.value)" type="text" class="form-control" placeholder="Email 2"  >
      </div>

      <div class="col-4">
         <div class="detail-title">Email 3</div>
         <!--<div>{{item.email}}</div>-->
         <input (input)="update_field_email3($event.target.value)" type="text" class="form-control" placeholder="Email 3"  >
      </div>
      
   </div>    

       

   <div class="row">
      <div class="col-3">
      </div>
      
      <div class="col-3">
         <a [routerLink]="['/register-work']" (click)="do()" class="btn btn-success agregar-cliente" style="width: 100%;color: white;" >Guardar y Cargar Trabajo</a>
      </div>
      <div class="col-3">
         <a [routerLink]="['/home']" class="btn btn-danger agregar-cliente" style="width: 100%;color: white;" >Finalizar</a>
      </div>
   </div>

</form>
 
