

<div class="row">
   <div class="col-3">
      <a [routerLink]="['/register']" class="btn btn-secondary agregar-cliente" >Agregar Cliente</a>
   </div>
</div>
<form class="form-horizontal" action='' method="POST">
   <div class="row">
      <div class="col-12" style="padding-left: 40px;" >
         <h2>Registro de nuevo usuario</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-4" style="padding: 10px;padding-left: 40px;" >
         <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nombre">
      </div>
   </div>
   <div class="row">
      <div class="col-4" style="padding: 10px;padding-left: 40px;" >
         <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Apellido">
      </div>
   </div>

   <div class="row">
      <div class="col-12" style="padding-left: 40px;padding-top: 30px;">Telefonos</div>

      <div class="col-4" style="padding: 10px;padding-left: 40px;">
         <input  type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefono 1">
      </div>
      <div class="col-4" style="padding: 10px;" >
         <input   type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefono 2">
      </div>
      <div class="col-4" style="padding: 10px; padding-right: 40px;" >
         <input  type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefono 3">
      </div>
   </div>

   <div class="row">
      <div class="col-12" style="padding-left: 40px;padding-top: 30px;">Email</div>
      <div class="col-4" style="padding: 10px;padding-left: 40px;">
         <input  type="text" class="form-control" id="exampleInputPassword1" placeholder="Email 1">
      </div>
      <div class="col-4" style="padding: 10px;" >
         <input   type="text" class="form-control" id="exampleInputPassword1" placeholder="Email 2">
      </div>
      <div class="col-4" style="padding: 10px; padding-right: 40px;" >
         <input  type="text" class="form-control" id="exampleInputPassword1" placeholder="Email 3">
      </div>
   </div>


</form>

