
<form class="form-horizontal" action='' method="POST">
   <div class="row" style="padding-top: 30px;" >
      <div class="col-12" style="padding-left: 40px;" >
         <h2>Registro de nuevo usuario</h2>
      </div>
   </div>
   <div class="row new-client-row">
      <div class="col-6">
         <div class="new-client-title">Nombre</div>
         <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nombre">
      </div>
      <div class="col-6">
         <div class="new-client-title">Apellido</div>
         <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Apellido">
      </div>
   </div>

   <div class="row new-client-row">
      <div class="col-12 new-client-title">Telefonos</div>

      <div class="col-6">
         <input  type="number" class="form-control" id="exampleInputPassword1" placeholder="Telefono 1">
      </div>
      <div class="col-6">
         <input   type="number" class="form-control" id="exampleInputPassword1" placeholder="Telefono 2">
      </div>
   </div>

   <div class="row new-client-row">
      <div class="col-4">
         <div class="new-client-title">Email</div>
         <input  type="text" class="form-control" id="exampleInputPassword1" placeholder="Email 1">
      </div>
   </div>

   <div class="row new-client-row">
      <div class="col-4">
         <div class="new-client-title">Trabajo</div>
         <input  type="text" class="form-control" id="exampleInputPassword1" placeholder="Trabajo">
      </div>
      <div class="col-4">
         <div class="new-client-title">Carrera</div>
         <input  type="text" class="form-control" id="exampleInputPassword1" placeholder="Carrera">
      </div>
      <div class="col-4">
         <div class="new-client-title">Universidad</div>
         <input  type="text" class="form-control" id="exampleInputPassword1" placeholder="Universidad">
      </div>
   </div>

   <div class="row new-client-row">
      <div class="col-6">
         <div class="new-client-title">Fecha de entrega (provisional)</div>
         <input  type="date" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="col-6">
         <div class="new-client-title">Total</div>
         <input  type="date" class="form-control" id="exampleInputPassword1" placeholder="Trabajo total">
      </div>
   </div>
   <div class="row new-client-row">
      <div class="col-12">
         <label for="exampleFormControlTextarea1" class="new-client-title">Requerimientos</label>
         <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
   </div>

   <div class="row">
      <div class="col-3">
      </div>
      <div class="col-3">
         <a [routerLink]="['/register-work']" class="btn btn-secondary agregar-cliente">Agregar Trabajo</a>
      </div>
      <div class="col-3">
         <a  (click)="do()" [routerLink]="['/home']" class="btn btn-secondary agregar-cliente"> Finalizar</a>
      </div>
         <div class="col-3">
      </div>
   </div>

</form>

