<!-- ###########################   AGREGAR TEMA   ############################### -->
<change-state [(visible)]="showDialogAddCarre">
   <h2 style="margin: 10px;margin-bottom: 20px;" >Crear un Tema Nuevo</h2>
   <div class="col-12" style="margin-bottom: 20px;">

      <input #nuevaCarr type="text" class="form-control" placeholder="Definición">
      <input #indicador type="text" class="form-control" placeholder="Indicador">

      <select style="width: 100%;" #estrategia class="dropdown-select">
         <option disabled hidden [value]="Presente">-- Seleccione una estrategia --</option>
         <option *ngFor="let estrategia of estrategias" >{{estrategia}}</option>
      </select>

      <label>¿ Se relaciona con otros Cuerpos Colegiados? </label>
      <div  *ngFor="let cc of otrosCuColegiado" >
         <div style="display: inline;">
            <input #cheq type="checkbox" style="margin-left: 40px;" (click)="update(cc,cheq)">{{cc.nombre}}
         </div>
      </div>           

   </div>
   <div class="row">
      <div class="col-6"> 
         <button (click)="showDialogAddCarre = !showDialogAddCarre" 
         (click)="crearTema(nuevaCarr.value, indicador.value, estrategia)"  
         class="btn" style="width: 100%;background: #72C585" >Agregar</button>
      </div>
      <div class="col-6"> 
         <button (click)="showDialogAddCarre = !showDialogAddCarre" (click)="paso='4'" class="btn" style="width: 100%;background: #E87B85" >Cancelar</button>
      </div>
   </div>
</change-state>


<!-- ###########################   AGREGAR TAREA   ############################### -->
<change-state [(visible)]="showADD_TAREA">
   <h2 style="margin: 10px;margin-bottom: 20px;" >Crear una Tarea Nueva</h2>
   <div class="col-12" style="margin-bottom: 20px;">
      <input #nuevaTarea type="text" class="form-control" placeholder="Definición" (change)="nuevaTareaSel = nuevaTarea.value">
      <div style="display: flex;align-items: center;" >
         <label>Responsable:</label> 
         <select style="width: 100%;" #usuu class="dropdown-select">
            <option *ngFor="let usuario of integrantesPresentes()" >{{usuario.nombre}}</option>
         </select>
      </div>
      <label style="margin: 0px;" >Fecha de entrega</label> 
      <input type="date" #myDate (change)="fechaMostrar = myDate.value">
   </div>
   <div class="row">
      <div class="col-6"> 
         <button [disabled]="fechaMostrar=='' || nuevaTareaSel == ''" (click)="showADD_TAREA = !showADD_TAREA" (click)="crearTarea(nuevaTarea.value, usuu, myDate)"  class="btn" style="width: 100%;background: #72C585" >Agregar</button>
      </div>
      <div class="col-6"> 
         <button (click)="showADD_TAREA = !showADD_TAREA" class="btn" style="width: 100%;background: #E87B85" >Cancelar</button>
      </div>
   </div>
</change-state>





<form style="margin-top: 50px;" *ngIf="paso==3" class="form-horizontal" action='' method="POST">
   <h5 style="text-align: center;font-style: italic;color: peru;font-weight: bold;">Acta: {{actaSelect.numeroActa}} - [ {{actaSelect.finMenteGral}} ]</h5>

   <!-- ################################## Temas ##################################  -->
   <div  *ngIf="temasDelActa.length>0" class="row" >
      <div class="col-xl-2" style="text-align: center;">

         <img src="assets/logo.png" style="max-width: 200px;max-height: 150px;margin-top: -40px;" >  

      </div>
      <div class="col-xl-8" >
         <div class="row" style="align-items: center;" >
            <div class="col-8" >
               <h4>Tema: {{temaActual.detalle}}</h4>
            </div>
         </div>

         <textarea  disabled class="form-control" rows="8" id="comment" style="font-size: x-small;">
            {{temaActual.id}} [ {{temaActual.detalle}} ] --- > Objetivo Est: {{temaActual.objetivoEstrategico}} / {{temaActual.indicador}}  {{toStringTema(temaActual.eventos)}}
         </textarea>
         
         <div class="row" style="align-items: center;">
            <div class="col-8" style="padding-right: 0px;" >
               <textarea #commentTema class="form-control" rows="1" placeholder="Nuevo Comentario" 
               (keyup)="comentarioTema=commentTema.value" 
               (keydown)="comentarioTema=commentTema.value"></textarea>
            </div>
            <div class="col-2" style="padding-right: 0px;" >
               <button [disabled]="comentarioTema == '' " (click)="addComentario(actaSelect.numeroActa +' - ' + commentTema.value)" type="button" class="btn" style="width: 100%;font-size: x-small;" >Agregar Comentario</button>
            </div>
            <div class="col-2" >
               <div style="text-align: center;" >         
                  <button (click)="closeTema(actaSelect.numeroActa +' - Se ha cerrado el tema' )" type="button" style="width: 100%;font-size: x-small;" class="btn">Cerrar Tema</button>
               </div>            
            </div>

         </div>

         <!-- ################################## Tareas ##################################  -->



         <div class="row" style="align-items: center;padding-top: 35px;" >
            <div  class="col-10" *ngIf="tareasMostrar.length > 0">
               <h4> Tarea: {{tareaActual.detalle}}</h4>
            </div>
            <div  class="col-2" style="text-align: right;" *ngIf="tareasMostrar.length > 0" >
               <button (click)="showADD_TAREA=true" style="width: 40px;padding-left: 0px;padding-right: 0px;" type="button" class="btn">
                  <img src="assets/add.png" style="width: 22px;" >
               </button>            
            </div>
            <div class="col-12" style="display: inline-flex;align-items: center;" *ngIf="tareasMostrar.length == 0" >
               <h4 style="margin-left: 15px;margin-right: 20px;" *ngIf="tareasMostrar.length == 0" >Agregar tarea</h4>
               <button (click)="showADD_TAREA=true" style="width: 40px;padding-left: 0px;padding-right: 0px;" type="button" class="btn">
                  <img src="assets/add.png" style="width: 22px;" >
               </button>            
            </div>
         </div>
         <textarea *ngIf="tareasMostrar.length > 0" id="Texto Tarea" disabled class="form-control" rows="8" style="font-size: x-small;" placeholder="Agregar Comentario"
            >Tarea:{{tareaActual.id}} [ Responsable: {{tareaActual.responsable?.nombre}} ]
            Resumen: {{tareaActual.detalle}}
            {{toString(tareaActual.eventos)}}</textarea>
            <div class="row" style="align-items: center;" *ngIf="tareasMostrar.length > 0" >
               <div class="col-8" style="padding-right: 0px;" >
                  <textarea #commentTarea class="form-control" rows="1" placeholder="Nuevo Comentario"
                  (keyup)="comentarioTarea=commentTarea.value" 
                  (keydown)="comentarioTarea=commentTarea.value"></textarea>
               </div>
               <div class="col-2" style="padding-right: 0px;" >
                  <button (click)="addComentarioTarea(actaSelect.numeroActa +' - ' + commentTarea.value)" type="button" class="btn" style="width: 100%;font-size: x-small;" [disabled]="tareaActual.estado != 'Abierto' || comentarioTarea == '' " >Agregar Comentario</button>
               </div>
               <div class="col-2" >
                  <div style="text-align: center;" >         
                     <button (click)="closeTarea()" type="button" style="width: 100%;font-size: x-small;" class="btn" [disabled]="tareaActual.estado != 'Abierto'" >Cerrar Tarea</button>
                  </div>
               </div>
            </div>
            <div style="text-align: center;margin-top: 20px;" >
               <button (click)="avanzar()" type="button" class="btn"><b>Continuar</b></button>
            </div>

         </div>














         <div class="col-2" style="text-align: center;">
            <img [src]="logo" style="max-width: 175px;max-height: 150px;margin-top: -30px;" >  
         </div>
      </div>


   </form>










   <form style="margin-top: 50px;" *ngIf="paso==4" class="form-horizontal" action='' method="POST">
      <h5 style="text-align: center;font-style: italic;color: peru;font-weight: bold;">Acta: {{actaSelect.numeroActa}} - [ {{actaSelect.finMenteGral}} ]</h5>
      <div style="text-align: center;margin-top: 100px;" >
         ¿ Desea agregar un tema nuevo?
         <button (click)="showDialogAddCarre=true" (click)="paso='3'" (click)="cleanAll()" style="width: 40px;padding-left: 0px;padding-right: 0px;" type="button" class="btn">
            <img src="assets/add.png" style="width: 22px;" >
         </button> 
      </div>
      <div style="text-align: center;margin-top: 20px;" >
         <button (click)="updatePaso('5')" type="button" class="btn"><b>Continuar, sin agregar un tema</b></button>
      </div>
   </form>






   <form style="margin-top: 50px;" *ngIf="paso==5" class="form-horizontal" action='' method="POST">
      <h5 style="text-align: center;font-style: italic;color: peru;font-weight: bold;">Acta: {{actaSelect.numeroActa}} - [ {{actaSelect.finMenteGral}} ]</h5>
      <div style="margin: 40px;" >

         <input type="checkbox" [indeterminate]="true" [(ngModel)]="actaSelect.seCumpliofinEnMente"   [ngModelOptions]="{standalone: true}"> ¿Se cumplió el fin en mente de la reunión?<br>
         <input type="checkbox" [indeterminate]="true" [(ngModel)]="actaSelect.elTiempoFueSuficiente" [ngModelOptions]="{standalone: true}"> ¿Fue suficiente el tiempo utilizado en la reunión?<br>
         <input type="checkbox" [indeterminate]="true" [(ngModel)]="actaSelect.huboInconvenientes"    [ngModelOptions]="{standalone: true}"> ¿Tuvo algún inconveniente en la reunión?<br>
         <input type="checkbox" [indeterminate]="true" [(ngModel)]="actaSelect.tieneSugerencias"      [ngModelOptions]="{standalone: true}"> ¿Tiene alguna sugerencia sobre la reunión o sus participantes?<br>
         <input type="checkbox" [indeterminate]="true" [(ngModel)]="actaSelect.redaccionDeTareasOk"   [ngModelOptions]="{standalone: true}"> ¿La redacción de las tareas nuevas fue aprobada por quién es responsable de la tarea?"<br>
         
         <textarea style="margin-top: 40px;" (dblclick)="showDialogAddCarre=true" class="form-control" rows="4" id="comment" placeholder="Comentarios Adicionales"></textarea>
      </div>
      <div style="text-align: center;" >
         <button type="button" class="btn" 
         [disabled]="esDone()" 
         (click)="closeActa()" ><b>Finalizar</b></button>
      </div>
   </form>






