
<button (click)="visiblePop = !visiblePop" type="button" class="btn">
Cambiar Contraseña
</button>

<change-state [(visible)]="visiblePop">
   <h2 style="margin: 10px;margin-bottom: 20px;" >Crear un Usuario Nuevo</h2>
   <div class="col-12" style="margin-bottom: 20px;">
      <input #passActual type="password" placeholder="Contraseña Actual"><br>
      <input #passNueva type="password" placeholder="Contraseña Nueva"><br>
      <input #passNuevaConf type="password" placeholder="Repita la contraseña Nueva"><br>



   </div>
   <div class="row">
      <div class="col-6"> 
      <button (click)="visiblePop=!visiblePop" (click)="changePassword(passActual.value, passNueva.value, passNuevaConf.value)"  
         [disabled]=" !isValid(passNueva.value, passNuevaConf.value )" class="btn" style="width: 100%;background: #72C585" >Agregar</button>
      </div>
      <div class="col-6"> 
         <button (click)="quitarToken()" (click)="visiblePop=!visiblePop" class="btn" style="width: 100%;background: #E87B85" >Cancelar</button>
      </div>
   </div>
</change-state>
