<form class="form-horizontal" action='' method="POST">
   <div class="row" style="padding-top: 30px;" >
      <div class="col-12" style="padding-left: 40px;" >
         <h2>Mas detalles</h2>
      </div>
   </div>

   
   <div class="row">
      <div class="col-4">
         <div class="detail-title">Nombre cliente</div>
         <!--<span>{{item.nombre}} {{item.apellido}}</span>-->
         <span  class="detail-data">Tania Huertas</span>
      </div>
   </div>
   
   <div class="row">
      <div class="col-4">
         <div class="detail-title">Fecha</div>
         <!--<span>{{item.fecha}}</span>-->
         <span class="detail-data">05/04/2017</span>
      </div>
   </div>

   <div class="row">
      <div class="col-4">
         <div class="detail-title">Telefonos</div>
         <!--<span>{{item.telefono}}</span>-->
         <span class="detail-data">0984009459 / 032413563</span>
      </div>
   </div>     
   
   <div class="row">
      <div class="col-4">
         <div class="detail-title">Email</div>
         <!--<span>{{item.email}}</span>-->
         <span class="detail-data">thuertas@hotmail.es</span>
      </div> 
   </div> 

   <div class="row">
      <div class="col-4">
         <div class="detail-title">Trabajo</div>
         <!--<span>{{item.trabajo}}</span>-->
         <span class="detail-data">Modelos</span>
      </div> 
   </div> 

   <div class="row">
      <div class="col-4">
         <div class="detail-title">Carrera</div>
         <!--<span>{{item.carrera}}</span>-->
         <span class="detail-data">Doctorado en ciencias</span>
      </div>
   </div>  

   <div class="row">
      <div class="col-4">
         <div class="detail-title">Universidad</div>
         <!--<span>{{item.universidad}}</span>-->
         <span class="detail-data">Universidad de Matanzas Cuba</span>
      </div> 
   </div> 

   <div class="row">
      <div class="col-4">
         <div class="detail-title">Donde entero</div>
         <!--<span>{{item.dondeEntero}}</span>-->
         <span class="detail-data">Amigos</span>
      </div>
   </div>  

   <div class="row">
      <div class="col-4">
         <div class="detail-title">Observaciones proxima entrega</div>
         <!--<span>{{item.observaciones}}</span>-->
         <span class="detail-data">
            Acabar la tesis
         </span>
      </div>
   </div> 

   <div class="row">
      <div class="col-4">
         <div class="detail-title">Proxima entrega</div>
         <!--<span>{{item.proximaEntrega}}</span>-->
         <span class="detail-data">13/04/2017</span>
      </div>   
   </div> 

   <div class="row">
      <div class="col-4">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Asesor</div>
         <!--<span>{{item.asesor}}</span>-->
         <span>JE</span>
      </div> 
   </div> 

   <div class="row">
      <div class="col-4">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Observaciones entregas</div>
         <!--<span>{{item.observaciones}}</span>-->
         <span>
            . Desarrollo y revisión tesis completa. Carpeta completa con información. Darle prioridad a artículos (2). Avance inicial de cap I (hilo conductor) //Artículos
         </span>
      </div>   
   </div>  

   <div class="row">
      <div class="col-4">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Total</div>
         <!--<span>{{item.total}}</span>-->
         <span>2500</span>
      </div> 
   </div>

   <div class="row">
      <div class="col-4">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Abono</div>
         <!--<span>{{item.abono}}</span>-->
         <span>2000</span>
      </div>  
   </div> 

   <div class="row">
      <div class="col-4">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Saldo</div>
         <!--<span>{{item.saldo}}</span>-->
         <span>500</span>
      </div> 
   </div>  

   <div class="row">
      <div class="col-4">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Por cobrar</div>
         <!--<span>{{item.porCobrar}}</span>-->
         <span>0</span>
      </div>  
   </div> 

   <div class="row">
      <div class="col-4">
         <table class="table table-new table-striped">
            <thead>
               <tr class="details-columns">
                  <th>Ab1</th>
                  <th>Fecha</th>
                  <th>Ab2</th>
                  <th>Fecha</th>
                  <th>Ab3</th>
                  <th>Fecha</th>
                  <th>Ab4</th>
                  <th>Fecha</th>
               </tr>
            </thead>
            <tbody class="centro" >
               <!--<tr class="details-row">
                  <td>{{item.ab1}}</td>
                  <td>{{item.fechaAb1}}</td>
                  <td>{{item.ab2}}</td>
                  <td>{{item.fechaAb1}}</td>
                  <td>{{item.ab3}}</td>
                  <td>{{item.fechaAb1}}</td>
                  <td>{{item.ab4}}</td>
                  <td>{{item.fechaAb1}}</td>
               </tr>-->
            </tbody>
         </table>
      </div> 
   </div> 

</form>

