
<div class="row">

<div class="col-4">
</div>

<div class="col-4">
</div>

  <div class="col-4">
    <div class="input-group" style="padding: 10px;">
      <input class="form-control" (input)="myFunction($event.target.value)" type="text" placeholder="Search">
      <span class="input-group-btn" >
        <button  class="btn btn-secondary" type="button" style="background: lightgray;">
            <img style="width: 20px;" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png">
        </button>
      </span>
    </div>
  </div>

</div>

<table class="table table-new table-striped">
   <thead>
      <tr class="client-columns">
         <th>
          Nombre
          <a class="btn clients-sort">
              <img class="sort-img" src="./assets/sort.png" alt="">
          </a>
        </th>
         <th>
            Universidad
            <a class="btn clients-sort">
                <img class="sort-img" src="./assets/sort.png" alt="">
            </a>
        </th>
         <th>Proxima entrega</th>
         <th>Estado</th>
         <th>Trabajo</th>
         <th>Total ($)</th>
         <th>Saldo</th>
         <th>Detalles</th>
         <th>Pago</th>
         <th>Req</th>
         <th>Fecha</th>
      </tr>
   </thead>
   <tbody class="centro" >
      <tr *ngFor="let orderEl of clientes" class="client-columns">
         <td>{{orderEl.nombre}} {{orderEl.apellido}}</td>
         <td>UBA</td>
         <td>23/10/07</td>
         <td><span class="badge badge-success">Hecho</span></td>
         <td>Tesis de ...</td>
         <td>2500</td>
         <td>500</td>
         <td class="plus-info-column">
            <a class="btn clients-actions"  [routerLink]="['/more-details']" >
              <img class="clients-img" src="./assets/mas.png" alt="">
            </a>
          </td>
         <td class="plus-info-column">
            <a class="btn clients-actions"  [routerLink]="['/register-payment']" >
              <img class="clients-img" src="./assets/pago.png" alt="">
            </a>
          </td>
         <td class="plus-info-column">
            <a class="btn clients-actions"  [routerLink]="['/add-requirements']" >
              <img class="clients-img" src="./assets/reque.png" alt="">
            </a>
          </td>
         <td class="plus-info-column">
            <a class="btn clients-actions"  [routerLink]="['/add-next-date']" >
              <img class="clients-img" src="./assets/fecha.png" alt="">
            </a>
          </td>
      </tr>
   </tbody>
</table>


<div class="modal" id="modal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Modal body text goes here.</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

