
<div class="row">

<div class="col-4">
</div>

<div class="col-4">
</div>

  <div class="col-4">
    <div class="input-group" style="padding: 10px;">
      <input class="form-control" (input)="myFunction($event.target.value)" type="text" placeholder="Search">
      <span class="input-group-btn" >
        <button  class="btn btn-secondary" type="button" style="background: lightgray;">
            <img style="width: 20px;" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png">
        </button>
      </span>
    </div>
  </div>

</div>

<table class="table table-new table-striped">
   <thead>
      <tr class="client-columns">
         <th>
          Nombre
          <a (click)="sortNombre()" class="btn clients-sort">
              <img class="sort-img" src="./assets/sort.png" alt="">
          </a>
        </th>
         <th>
            Universidad
           <a (click)="sortUniversidad()" class="btn clients-sort">
              <img class="sort-img" src="./assets/sort.png" alt="">
          </a>
        </th>
         <th>Proxima entrega
          <a (click)="sortFecha()" class="btn clients-sort">
              <img class="sort-img" src="./assets/sort.png" alt="">
          </a>
         </th>
         <th>Estado
         <a (click)="sortEstado()" class="btn clients-sort">
              <img class="sort-img" src="./assets/sort.png" alt="">
          </a>
 

         </th>
         <th>Tema</th>
         <th>Total ($)</th>
         <th>Saldo</th>
         <th style="min-width: 20px;"></th>
         <th style="min-width: 20px;"></th>
         <th style="min-width: 20px;"></th>
         <th style="min-width: 20px;"></th>
      </tr>
   </thead>
   <tbody class="centro" >
      <tr *ngFor="let item of items" class="client-columns">

         <td>{{item.nombre}} {{item.apellido}}</td>
         <td>{{item.universidad | slice:0:40}}</td>
         <td>{{item.entrega}}</td>
         <td>
            <span  *ngIf="item.estado == 'Hecho'" class="badge badge-success">{{item.estado}}</span>
            <span  *ngIf="item.estado == 'Trabajando'" class="badge badge-warning">{{item.estado}}</span>
         </td>
         <td>{{ item.tema  | slice:0:70}}</td>
         <td>{{item.monto}}</td>
         <td>500</td>
         <td class="plus-info-column">

     

          <a class="btn clients-actions"  [routerLink]="['/more-details']" [queryParams]="{ cliente: item.clienteID, trabajo: item.id_trabajo }" >
            <div class="tooltip">              
              <img class=" clients-img" src="./assets/mas.png" alt="">
              <span class="tooltiptext">Ver detalles</span>
            </div>
          </a>
         </td>
         <td class="plus-info-column">   
            <a class="btn clients-actions" [routerLink]="['/register-payment']" [queryParams]="{ cliente: item.nombre }"  >
            <div class="tooltip">              
              <img class="clients-img" src="./assets/pago.png" alt="">
              <span class="tooltiptext">Agregar Pago</span>
            </div>

            </a>
          </td>
         <td class="plus-info-column">
            <a class="btn clients-actions"  [routerLink]="['/add-requirements']" >
              <div class="tooltip">              
                <img class="clients-img" src="./assets/reque.png" alt="">
                <span class="tooltiptext">Cargar nuevo req</span>
              </div>
            </a>
          </td>
         <td class="plus-info-column">
            <a class="btn clients-actions"  [routerLink]="['/change-date']" >
              <div class="tooltip">              
                <img class="clients-img" src="./assets/fecha.png" alt="">
                <span class="tooltiptext">Agregar fecha entr</span>
              </div>
            </a>
          </td>
      </tr>
   </tbody>
</table>
