
<form class="form-horizontal" action='' method="POST">
   <div class="row" style="padding-top: 30px;" >
      <div class="col-12" style="padding-left: 40px;" >
         <h2 class="row register-row">Registro de nuevo asesor</h2>
      </div>
   </div>

   <div class="row details-data-row">
      <div class="col-6">
         <div class="detail-title">Nombre y Apellido*</div>
         <input (input)="update_field_nombre($event.target.value)" class="form-control" type="text" placeholder="Nombre y Apellido" minlength="1">
      </div>
   
      <div class="col-6">
         <div class="detail-title">Fecha de registro</div>
         <input type="text" class="form-control" value ="{{ date | date:'dd-MM-yyyy'}}" [disabled]="true"> 
      </div>
      
   </div>     
   
        

   <div class="row">
      <div class="col-4">
      </div>
      
      <div class="col-4">
         <a (click)="do()" class="btn btn-success agregar-cliente" style="width: 100%;color: white;" >Crear Asesor</a>
      </div>
   </div>

</form>
 
