<div class="row" style="margin-bottom: 30px;" >

   <div class="col-3" style="align-self: center;text-align: center;" >
      <img [routerLink]="['/home']" [src]="logo" style="max-width: 200px;max-height: 150px;" >  
   </div>

   <div class="col-6" style="align-self: center;text-align: center; margin-top: 50px" >
   <h2>Menú de consultas</h2>
         <select style="width: 100%;margin-top: 25px;" #clii class="dropdown-select" (change)="updateValueTipoConsulta(clii.value)">
            <option disabled hidden [value]="selectUndefinedOptionValue">-- Seleccione un Tipo de Consulta --</option>
            <option *ngFor="let consulta of tipoConsulta" >{{consulta}}</option>
         </select>

   </div>

   <div class="col-3" style="align-self: center;text-align: center;" >
      <img src="assets/logo.png" style="max-width: 150px;max-height: 100px;" [routerLink]="['/home']" >  
   </div>

</div>


<form class="form-horizontal" action='' method="POST">

   
   <consultas-acta *ngIf="consultaSelect=='Acta Completa'" ></consultas-acta>
   <consultas-fin-mente *ngIf="consultaSelect=='Por Fin en Mente'" ></consultas-fin-mente>
   <consultas-tema *ngIf="consultaSelect=='Por Temas'" ></consultas-tema>
   <consultas-tarea *ngIf="consultaSelect=='Por Tareas'" ></consultas-tarea>

</form>

<visor-acta *ngIf="actaSelect != '' " ></visor-acta>
