

<div class="row home-page-container" style="margin-top: 10%;" >
   <div  class="col-6 " style="align-self: center;" >
      <div style="text-align: center;" >
         <img src="assets/logo.png" style="max-width: 400px;max-height: 300px;" >  
      </div>
   </div>
   <div  class="col-4 " style="align-self: center;" >
      <div class="row" style="align-items: center;">
         <div  style="text-align: right;" class="col-3">
            Email
         </div>
         <div class="col-9">
            <input 
            #usuario 
            type="text" 
            style="width: 100%;"
            id="nombreCliente" 
            (change)="guardarUser('usuario', usuario.value)">
         </div>
      </div>
      <div  class="row" style="align-items: center;" >
         <div  style="text-align: right;" class="col-3">
            Contraseña
         </div>
         <div class="col-9">
            <input 
            #password 
            type="password" 
            style="width: 100%;"
            id="passCliente" 
            (change)="guardarUser('password', password.value)"> 
         </div>
      </div>

      <div *ngIf="usuario.value == 'juanloa@efevisium.com' || usuario.value == 'pino.espinosa91@gmail.com'" class="row" style="align-items: center;" >
         <div  style="text-align: right;" class="col-3">
            Empresa
         </div>
         <div class="col-9">
            <select #empresa class="dropdown-select" (change)="selectCuerpo(empresa)"  >
               <option [value]="empty">-- Mantenimiento --</option>
               <option *ngFor="let empresa of empresas" >{{empresa.nombreEmpresa}}</option>
            </select>
         </div>
      </div>



      <div  class="row" style="align-items: center;" >
         <div  style="text-align: right;" class="col-3">
         </div>
         <div class="col-9">
            <button *ngIf="usuario.value != 'juanloa@efevisium.com' &&  usuario.value != 'pino.espinosa91@gmail.com'" (click)="do()"  style="width: 100%;" type="button" class="btn button-login "><b>Ingresar</b></button>
            <button [disabled]="empresaSelect == null && empresas.lenght>0" *ngIf="usuario.value == 'juanloa@efevisium.com' || usuario.value == 'pino.espinosa91@gmail.com'" (click)="doSuper()"  style="width: 100%;" type="button" class="btn button-login "><b>Ingresar</b></button>

         </div>
      </div>
   </div>
</div>

