<form class="form-horizontal" action='' method="POST">
   <div class="row page-title-row">
      <div class="col-3 page-title-div">
         <h2>Mas detalles</h2>
      </div>
      <div class="col-1">
         <button (click)="do()" type="button" class="btn btn-primary edit-client-button client-button"> 
            Editar
         </button>
      </div>
      <div class="col-1">
         <button (click)="do()" type="button" class="btn btn-success save-client-button client-button" [disabled]="buttonState()"> 
            Guardar
         </button>
      </div>
      <div class="col-1">
         <button (click)="do()" type="button" class="btn btn-danger canel-client-button client-button" [disabled]="buttonState()"> 
            Cancelar
         </button>
      </div>
   </div>

   <div class="row more-details-row">
      <div class="col-6">
         <h4 class="more-details-title">Datos cliente</h4>
      </div>
   </div>

   <div class="row details-data-row">
      <div class="col-3">
         <div class="detail-title">Nombre cliente</div>
         <!--<div>{{item.nombre}} {{item.apellido}}</div>-->
         <input type="text" class="form-control" placeholder="Nombre y apellido" [disabled]="buttonState()">
      </div>
   
      <div class="col-3">
         <div class="detail-title">Fecha</div>
         <!--<div>{{item.fecha}}</div>-->
         <input type="date" class="form-control" [disabled]="buttonState()">
      </div>
   
      <div class="col-3">
         <div class="detail-title">Telefonos</div>
         <!--<div>{{item.telefono}}</div>-->
         <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Telefonos" [disabled]="buttonState()">
      </div>

      <div class="col-3">
         <div class="detail-title">Email</div>
         <!--<div>{{item.email}}</div>-->
         <input type="text" class="form-control" placeholder="ejemplo@gmail.com" [disabled]="buttonState()">
      </div> 
   </div>     
   
   <div class="row more-details-row">
      <div class="col-6">
         <h4 class="more-details-title">Datos trabajo</h4>
      </div>
   </div>


   <div class="row details-data-row">
      
      <div class="col-3">
         <div class="detail-title">Trabajo</div>
         <!--<div>{{item.trabajo}}</div>-->
         <input type="text" class="form-control" placeholder="Trabajo" [disabled]="buttonState()">
      </div> 

      <div class="col-3">
         <div class="detail-title">Carrera</div>
         <!--<div>{{item.carrera}}</div>-->
         <input type="text" class="form-control" placeholder="Carrera" [disabled]="buttonState()">
      </div>

      <div class="col-3">
         <div class="detail-title">Universidad</div>
         <!--<div>{{item.universidad}}</div>-->
         <input type="text" class="form-control" placeholder="Universidad" [disabled]="buttonState()">
      </div> 
   </div>  

   <div class="row details-data-row">
      <div class="col-12">
         <div class="detail-title">Observaciones proxima entrega</div>
         <!--<div>{{item.observaciones}}</div>-->
         <input type="text" class="form-control" placeholder="Observaciones" [disabled]="buttonState()">
      </div>
   </div> 

   <div class="row details-data-row">
      <div class="col-3">
         <div class="detail-title">Donde entero</div>
         <!--<div>{{item.dondeEntero}}</div>-->
         <input type="text" class="form-control" placeholder="Donde entero" [disabled]="buttonState()">
      </div>

      <div class="col-3">
         <div class="detail-title">Proxima entrega</div>
         <!--<div>{{item.proximaEntrega}}</div>-->
         <input type="date" class="form-control" [disabled]="buttonState()">
      </div>   

      <div class="col-3">
         <div class="detail-title">Asesor</div>
         <!--<div>{{item.asesor}}</div>-->
         <input type="text" class="form-control" placeholder="Asesor" [disabled]="buttonState()">
      </div> 
   </div>  

   <div class="row details-data-row">
      <div class="col-12">
         <div class="detail-title">Observaciones entregas</div>
         <!--<div>{{item.observaciones}}</div>-->
         <textarea class="form-control" rows="3" placeholder="Observaciones" [disabled]="buttonState()"></textarea>
      </div>   
   </div>  

   <div class="row more-details-row">
      <div class="col-6">
         <h4 class="more-details-title">Pago</h4>
      </div>
   </div>

   <div class="row details-data-row">
      <div class="col-3">
         <div class="detail-title">Total</div>
         <!--<div>{{item.total}}</div>-->
         <input type="number" class="form-control" [disabled]="buttonState()">
      </div> 

      <div class="col-3">
         <div class="detail-title">Abono</div>
         <!--<div>{{item.abono}}</div>-->
         <input type="number" class="form-control" [disabled]="buttonState()">
      </div>  

      <div class="col-3">
         <div class="detail-title">Saldo</div>
         <!--<div>{{item.saldo}}</div>-->
         <input type="number" class="form-control" [disabled]="buttonState()">
      </div> 

      <div class="col-3">
         <div class="detail-title">Por cobrar</div>
         <!--<div>{{item.porCobrar}}</div>-->
         <input type="number" class="form-control" [disabled]="buttonState()">
      </div>  
   </div> 

</form>

