
   <form class="form-horizontal" action='' method="POST">
      <div class="row" style="padding-top: 30px;" >
         <div class="col-12" style="padding-left: 40px;" >
            <h2>Mas detalles</h2>
         </div>
      </div>

      
      <div class="row">
         <div class="col-4" style="padding: 10px;padding-left: 40px;" >
            <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Nombre cliente</div>
            <!--<span>{{item.nombre}} {{item.apellido}}</span>-->
            <span>Tania Huertas</span>
         </div>
      </div>
      
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Fecha</div>
         <!--<span>{{item.fecha}}</span>-->
         <span>05/04/2017</span>
      </div>
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Telefonos</div>
         <!--<span>{{item.telefono}}</span>-->
         <span>0984009459 / 032413563</span>
      </div>     
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Email</div>
         <!--<span>{{item.email}}</span>-->
         <span>thuertas@hotmail.es</span>
      </div> 
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Trabajo</div>
         <!--<span>{{item.trabajo}}</span>-->
         <span>Modelos</span>
      </div> 
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Carrera</div>
         <!--<span>{{item.carrera}}</span>-->
         <span>Doctorado en ciencias</span>
      </div>  
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Universidad</div>
         <!--<span>{{item.universidad}}</span>-->
         <span>Universidad de Matanzas Cuba</span>
      </div> 
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Donde entero</div>
         <!--<span>{{item.dondeEntero}}</span>-->
         <span>Amigos</span>
      </div>   
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Observaciones proxima entrega</div>
         <!--<span>{{item.observaciones}}</span>-->
         <span>
            Acabar la tesis
         </span>
      </div>
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Proxima entrega</div>
         <!--<span>{{item.proximaEntrega}}</span>-->
         <span>13/04/2017</span>
      </div>   
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Asesor</div>
         <!--<span>{{item.asesor}}</span>-->
         <span>JE</span>
      </div>    
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Observaciones entregas</div>
         <!--<span>{{item.observaciones}}</span>-->
         <span>
            . Desarrollo y revisión tesis completa. Carpeta completa con información. Darle prioridad a artículos (2). Avance inicial de cap I (hilo conductor) //Artículos
         </span>
      </div>    
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Total</div>
         <!--<span>{{item.total}}</span>-->
         <span>2500</span>
      </div> 
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Abono</div>
         <!--<span>{{item.abono}}</span>-->
         <span>2000</span>
      </div>  
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Saldo</div>
         <!--<span>{{item.saldo}}</span>-->
         <span>500</span>
      </div>  
      <div class="row">
         <div class="col-12" style="padding-left: 40px;padding-top: 10px;">Por cobrar</div>
         <!--<span>{{item.porCobrar}}</span>-->
         <span>0</span>
      </div>  
      <div class="row">
      <table class="table table-new table-striped">
      <thead>
         <tr class="details-columns">
            <th>Ab1</th>
            <th>Fecha</th>
            <th>Ab2</th>
            <th>Fecha</th>
            <th>Ab3</th>
            <th>Fecha</th>
            <th>Ab4</th>
            <th>Fecha</th>
         </tr>
      </thead>
      <tbody class="centro" >
         <!--<tr class="details-row">
            <td>{{item.ab1}}</td>
            <td>{{item.fechaAb1}}</td>
            <td>{{item.ab2}}</td>
            <td>{{item.fechaAb1}}</td>
            <td>{{item.ab3}}</td>
            <td>{{item.fechaAb1}}</td>
            <td>{{item.ab4}}</td>
            <td>{{item.fechaAb1}}</td>
         </tr>-->
      </tbody>
   </table>
   </div> 

   </form>

