/* You can add global styles to this file, and also import other style files */
.agregar-cliente {
	margin: 20px;
}

.navbar-registro-total {
	width: 100%;
}

.dropdown-custom {
	width: 100%
}

.dropdown-menu-custom{
	width: 100%;
	text-align: center;
}

.client-columns {
	text-align: center;
}

tr td {
   line-height: 0;
}
.client-columns > th {
   padding: 0;
}
.client-columns > td {
	vertical-align: baseline;
	padding: 1px;
}

.clients-img {
	width: 20px;
	margin: -30px;
}

.clients-actions {
	padding: 0;	
}

.clients-sort {
	height: 10px;
	margin-bottom: 3px;
	padding: 0;
}

.sort-img {
	height: 10px;
	width: 10px;
	display: block;
}

.details-data-row{
	margin-bottom: 20px;
}

.detail-title {
	font-weight: bold;
	text-align: center;
}

.detail-data {
	text-align: center;
}

