/* You can add global styles to this file, and also import other style files */
.agregar-cliente {
	margin: 20px;
}

.navbar-registro-total {
	width: 100%;
}

.dropdown-recomendation {
	padding: 0 5px;
}

.nav-link {
	padding: 0;
}

.button-plus-info {
	font-weight: bold;
	padding: 0 5px;
	background-color: red;
}
